.form-group {
   margin: auto;
   width: 275px;
}

.form-btn {
   width: 50%;
   margin: 5px 0px 2px 58px;
   letter-spacing: 1px;
}
.login-signup-forms {
   margin-top: -25px;
   position: relative;
}

#generateBtn {
   background-color:hsl(272, 39%, 70%);
   margin-left: 32px;
   letter-spacing: .1rem;
}