#top-line {
   margin-top: 4px;
   width: 110vw;
}
#top-line:after {
   height: 30px;
   border-radius: 0 0 100% 100%;
   box-shadow: 0px 12px 12px 8px slategrey
}

#glowBox {
  animation: Glow 7s ease-in-out infinite alternate;
  border-radius: 50%;
  margin-top: -30px;
  mix-blend-mode: normal;
  background-color: rgba(73, 116, 165, .85);
  width: 300px;
}
#mainImg {
  height: 130px;
  padding-bottom: 0px;
  margin: 30px 30px 30px 16px;
}

/* DINO BONES ICONS */
.skelly {
  margin-top: -30px;
  color: hsl(211, 50%, 25%);
}
#left-skelly {
  transform: scaleX(-1);
  margin-left: auto;
}
#right-skelly {
  margin-right: auto;
}
#far-right-skelly {
  transform: scaleX(-1);
  margin-left: auto;
}
#far-left-skelly {
   margin-right: auto;
}
/* THE DECORATIVE UNDERLINES BETWEEN THEM */
.rule {
  display: flex;
  min-width: 25%;
}
.rule:after {
  content: "";
  flex-grow: 1;
  height: 0.15em;
  background: rgba(38, 75, 115, 1);
  margin-top: -5px;
  border-radius: 100%;
}

Nav {
   margin-top: 50px;
   display: flex;
   flex-flow: row nowrap;
   width: 100vw;
 }
 #nav-box-main {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 20px;
    justify-content: center;
    margin-top: -100px;
 }
 
 #nav-box-left, #nav-box-right {
    height: 20px;
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: opacity 1s;
    letter-spacing: .2px;
    z-index: 2;
 }
 #nav-box-left {
    margin-right: 230px;
 }
 #nav-box-right {
    margin-left: 220px;
 }
 .hide {
    opacity: 0;
 }
 .show {
    opacity: 1;
 }
 .nav-item {
    margin: 0px 2px;
    letter-spacing: .5px;
    padding: 2px;
    cursor: default;
    text-decoration: overline;
 }
 /* a {
    cursor: default;
    text-decoration: overline;
 } */
 a:hover {
   cursor: url(./assets/images/spear.png)15 10, move;
}



/*glow*/
@keyframes Glow {
  from {
    box-shadow: inset 0 0px 8px var(--dark-blue),
      inset 0 0 12px var(--dark-blue), inset 0 0 17px var(--dark-blue),
      inset 0 0 23px var(--dark-blue), inset 0 0 0px var(--light-blue),
      inset 0 0 0px var(--light-blue), inset 0 0 0px var(--light-blue),
      inset 0 0 0px var(--light-blue);
  }
  to {
    box-shadow: inset 0 0 10px var(--dark-blue), inset 0 0 15px var(--dark-blue),
      inset 0 0 20px var(--dark-blue), inset 0 0 25px var(--dark-blue),
      inset 0 0 35px var(--light-blue), inset 0 0 45px var(--light-blue),
      inset 0 0 65px var(--light-blue), inset 0 0 95px var(--light-blue);
  }
}

@media screen and (max-width: 1050px) {
   #nav-box-main {
      margin: auto;
      flex-flow: column wrap;
   }
   #nav-box-left, #nav-box-right {
      margin: auto;
   }
}
@media screen and (max-width: 925px) {
   .skelly {
      display: none;
   }
   #rule-left {
      display: none;
   }
   #rule-right {
      display: none;
   }
   #home-header {
      text-align: center;
      align-content: center;
      margin: auto;
   }
   .background {
      display: flex;
      align-items: center;
   }
   main {
      margin: 50px auto;
      width: 80%;
   }
   #nav-box-main {
      margin-top: 0;
   }
   .login-signup-forms {
      margin-top: -150px;
   }
   #login-form {
      margin-top: -250px;
   }
}
@media screen and (max-width: 575px) {
   #nav-box-left {
      justify-content: left;
      margin-left: 35px;
   }
   #nav-box-right {
      justify-content: right;
      margin-right: 35px;
   }
}
