
:root {
  --light-blue: #b5d7fc;
  --dark-bruise: #7f5667;
  --light-bruise: #a58894;
  --dino-yellow: #bf9b4a;
  --dino-grey: #cecdcb;
  --dino-dark-grey: #cecdcb;
  --purple: rgba(122, 73, 165, .8);
  --dark-blue: rgba(73, 116, 165, .9);
  --pink: #fcb5d7;
  --light-green: #d7fcb5;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100vh;
  filter: saturate(109%) opacity(105%);
}

main,
body {
  background-color: var(--light-blue);
}
main {
   margin-top: 40px;
}
.background {
  min-height: 60vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Form {
   padding: 10px;
   margin: 2px;
}

h1 {
  font-family: Bangers;
  color: var(--purple);
  font-size: 55px;
}

p {
  font-family: Sora;
  color: var(--black);
  font-size: x-large;
}

button {
  background: var(--dark-blue);
  color: var(--dino-grey);
  font-family: Bangers;
  font-size: 25px;
}

button:hover {
  background: var(--dark-blue);
  color: var(--purple);

}

.slide-img {
   border-radius: 10px;
   max-width: 80%;
}

Link {
  text-decoration: none;
}

.homeBtn {
  padding: 8px;
  margin: 5px;
}


.logo {
  border: none;
}

.navbar-copy {
  color: var(--purple) !important;
  font-family: Bangers;
}

.navbar-copy:hover {
  color:var(--purple)!important;
}

.navbar {
  background: var(--dark-blue);
  margin-bottom: 50px;
  padding-bottom: 50px;
  height: 100px;
  box-shadow: 0px 12px 12px 6px slategrey;
}

.logo:focus {
  outline: none;
  box-shadow:  8px 8px 8px var(--purple);
}

.slide-container {
   padding: 10px

}

.jumbotron {
  background-image: url("../src/assets/images/dino-background-public.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-bottom: 0px;
}
#home-header {
   margin-left: 65px;
   width: 300px;
}


/* Iterable cards on shop page displaying packages */
.pack-card {
   text-align: center;
   margin: 60px 15px 15px;
   border-radius: 20px;
   box-shadow: 10px 8px 10px 1px slategray; 
}

#pack-wrapper {
  display: flex;
  width: 100vw;
}

Footer {
  background-color: var(--dark-blue);
  height: 100px;
  box-shadow: -6px -8px 15px 8px slategrey;
}
#link-container {
   max-height: 85px;
}
#linkBox {
  max-height: 85px;
}

.footerImg {
  width: 70px;
  border-radius: 4px;
  opacity: .75;
  border-radius: 20%;
  padding: 3px;
}

.footerImg:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: .95;
}

#builtBy {
  color: var(--light-blue);
  font-size: 17px;
  min-width: 400px;
  line-height: 1.2;
}

#generateBtn {
   background-color:hsl(272, 39%, 70%);
   margin-top: -30px;
   margin-left: 40px;
}

#shop-container {
  margin: 0;
}

#packages-title {
  color: var(--purple);
  font-size: 30px;
  font-family: Bangers;
  letter-spacing: 2px
}
#packages {
  font-family: Sora;
  font-size: 22px;
}

#packages-link {
   font-family: Bangers;
   font-size: 22px;
   color: var(--dark-blue);
   list-style-type:disc;
   justify-content: center;
   margin-left: 20px;
   text-indent: -50px
 }

 #package-includes {
   color: var(--purple);
   /* background-color: var(--dino-grey); */
   font-size: 28px;
   font-style:italic;
   font-weight:600;
 }

 #package-btn {
   align-items: center;
   margin-top: 20px;
   font-size: 30px;
   font-weight:650;
 }

 .perk-card {
  line-height: .5;
  margin-top: 10px;
  height: 200px;
 }

 #card-img {
   border-radius: 20px 20px 0 0;
   height: 30%;
 }

